.container{
    .header{
        display: flex;
        justify-content: space-between;
        padding: 5px 0px;
        a {
            background-color: #ff9900;
            color: #fff;
            padding: 8px;
            border: none;
            border-radius: 8px !important;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            text-decoration: none;
        }

        a:hover {
            background-color: #ff6600;
        }
    }
    table{
        tbody{
            tr{
                align-items: center;

                td{
                    a{
                        margin: 0px 2px;
                    }
                }
            }
        }
    }
}